@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

html, body {
    color: #DDD;
    background: linear-gradient(to right bottom, #111,#000);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', sans-serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#app {
    min-height: 100vh;
    position: relative;
    padding-bottom: 75px;  /* Height of the Footer */
}
