@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches');

html, body {
    color: #DDD;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
